# DS-SF-36 | 14 | Trees | Codealong | Starter Code

In [1]:
import os

import pandas as pd
pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

import math

## Part A | The 2008 Democratic Primaries

(dataset adapted from http://www.stat.ucla.edu/~cocteau/primaries.csv)

In [2]:
df = pd.read_csv(os.path.join('..', 'datasets', 'dataset-14-2008-democrat-primaries.csv'))

In [3]:
df.columns

Index(['fips', 'county_name', 'state_postal', 'region', 'election_date',
       'racetype', 'tvotes', 'clinton', 'obama', 'edwards', 'margin', 'winner',
       'POP05_SQMI', 'popUnder30_00', 'pop65up_00', 'presVote04', 'kerry04',
       'Bush04', 'pres04margin', 'pres04winner', 'pop06', 'pop00', 'hisp06',
       'white06', 'black06', 'indian06', 'asian06', 'hawaii06', 'mixed06',
       'pct_less_30k', 'pct_more_100k', 'pct_hs_grad', 'pct_labor_force',
       'pct_homeowner', 'unempFeb07', 'unempFeb08', 'unempChg', 'pctUnins00',
       'subForPctHomes', 'poverty05', 'median_hhi05', 'Catholic',
       'So.Bapt.Conv', 'Un.Methodist', 'E.L.C.A.', 'Construction',
       'Manufacturing', 'FinancialActivities', 'GoodsProducing',
       'ServiceProviding'],
      dtype='object')

In [13]:
df.winner.value_counts(dropna = False)

clinton    1210
obama      1031
NaN          20
Name: winner, dtype: int64

### First cut: Is a county more than 20% black?

In [16]:
df['c'] = (df.winner == 'obama') * 1

In [17]:
df.c

0       1
1       0
2       1
3       0
4       0
       ..
2256    0
2257    1
2258    1
2259    1
2260    0
Name: c, Length: 2261, dtype: int64

In [ ]:
# TODO

#### First cut/right node

In [18]:
df.columns

Index(['fips', 'county_name', 'state_postal', 'region', 'election_date',
       'racetype', 'tvotes', 'clinton', 'obama', 'edwards', 'margin', 'winner',
       'POP05_SQMI', 'popUnder30_00', 'pop65up_00', 'presVote04', 'kerry04',
       'Bush04', 'pres04margin', 'pres04winner', 'pop06', 'pop00', 'hisp06',
       'white06', 'black06', 'indian06', 'asian06', 'hawaii06', 'mixed06',
       'pct_less_30k', 'pct_more_100k', 'pct_hs_grad', 'pct_labor_force',
       'pct_homeowner', 'unempFeb07', 'unempFeb08', 'unempChg', 'pctUnins00',
       'subForPctHomes', 'poverty05', 'median_hhi05', 'Catholic',
       'So.Bapt.Conv', 'Un.Methodist', 'E.L.C.A.', 'Construction',
       'Manufacturing', 'FinancialActivities', 'GoodsProducing',
       'ServiceProviding', 'c'],
      dtype='object')

In [22]:
df['pct_black06'] = df.black06 / df.pop06

In [23]:
df.pct_black06

0       0.172109
1       0.096363
2       0.462710
3       0.219021
4       0.015451
          ...
2256    0.008952
2257    0.002022
2258    0.000989
2259    0.001023
2260    0.001331
Name: pct_black06, Length: 2261, dtype: float64

In [24]:
parent_df = df

In [32]:
left_child_df = parent_df[parent_df.pct_black06 <= 0.2]

In [33]:
left_child_df

,fips,county_name,state_postal,region,election_date,...,FinancialActivities,GoodsProducing,ServiceProviding,c,pct_black06
0,1001,Autauga,AL,S,2/5/08,...,5.366229,26.776236,73.223764,1,0.172109
1,1003,Baldwin,AL,S,2/5/08,...,7.923872,21.282357,78.717643,0,0.096363
4,1009,Blount,AL,S,2/5/08,...,4.300316,34.129339,65.870661,0,0.015451
7,1015,Calhoun,AL,S,2/5/08,...,3.544540,24.312853,75.687147,0,0.196434
9,1019,Cherokee,AL,S,2/5/08,...,4.160713,37.984366,62.015634,0,0.054619
...,...,...,...,...,...,...,...,...,...,...,...
2256,56037,Sweetwater,WY,W,3/8/08,...,4.383050,42.670654,57.329346,0,0.008952
2257,56039,Teton,WY,W,3/8/08,...,5.465895,14.914934,85.085066,1,0.002022
2258,56041,Uinta,WY,W,3/8/08,...,5.170457,32.132498,67.867502,1,0.000989
2259,56043,Washakie,WY,W,3/8/08,...,6.323161,34.040552,65.959448,1,0.001023
2260,56045,Weston,WY,W,3/8/08,...,5.249570,33.584337,66.415663,0,0.001331

In [40]:
def obama_vs_clinton(df):
    obama = (df.c == 1).sum()
    clinton = (df.c == 0).sum()
    if obama > clinton:
        print('Obama wins these counties {} to {}.'.format(obama, clinton))
    elif clinton > obama:
        print('Clinton wins these counties {} to {}.'.format(clinton, obama))
    else:
        print('Obama and Clinton tie in these counties {} {}.'.format(obama, clinton))

In [41]:
right_child_df = parent_df[parent_df.pct_black06 > 0.2]

In [42]:
len(right_child_df)

450

In [43]:
right_child_df = parent_df.drop(left_child_df.index)

### Second cut: Is high school graduation rate higher than 78%?

In [45]:
# TODO

In [44]:
obama_vs_clinton(left_child_df)

Clinton wins these counties 1160 to 650.

### Third cut: Is high school graduation rate higher than 87%?

In [46]:
# TODO

In [47]:
obama_vs_clinton(right_child_df)

Obama wins these counties 381 to 70.

## Part B | Building the 2008 Democratic Primaries Decision Tree by Hand

In [53]:
class Node:

    @staticmethod
    def root(root_df):
        cs = sorted(set(root_df.c))
        return Node(cs, root_df)

    def decision(self, left_filter):
        # Collect the observations for which the decision split is true and
        # create the corresponding left node

        left_filter = left_filter(self.df)
        left_df = self.df[left_filter]
        self.left = Node(self.cs, left_df)

        # Same thing on the right side but for the observations that don't
        # satisfy the decision split (the "else")

        right_df = self.df.drop(left_df.index)
        self.right = Node(self.cs, right_df)

        # The entropy after the decision split is the weighted average of the
        # children entropy

        self.after = (self.left.samples * self.left.before
                      + self.right.samples * self.right.before) / self.samples

        # The information gain corresponds to the entropy lost between the
        # parent node (this node and the "before") and its child (the "after")

        self.information_gain = self.before - self.after

        return self

    def __init__(self, cs, df):
        self.cs = cs
        self.df = df

        # Counts of the remaining observations in the subspace per classes
        self.counts = [(self.df.c == c).sum() for c in self.cs]

        # Number of observations in the subspace
        self.samples = sum(self.counts)

        # For empty subspaces, probabilties and entropy are set to zero
        if self.samples == 0:
            self.probabilities = [.0 for count in self.counts]
            self.before = .0
        else:
            self.probabilities = [1. * count / self.samples for count in self.counts]
            self.before = - sum(map(lambda p: p * math.log(p, 2),
                                    filter(lambda p : p > .0, self.probabilities)))

    def status(self):
        print 'classes                       =', self.cs
        print 'before:'
        print "\tparent:"
        print "\t\tsamples       =", self.samples
        print "\t\tcounts        =", self.counts
        print "\t\tprobabilities =", self.probabilities
        print "\t\tentropy       =", self.before
        print 'after:'
        print "\tleft child:"
        print "\t\tsamples       =", self.left.samples
        print "\t\tcounts        =", self.left.counts
        print "\t\tprobabilities =", self.left.probabilities
        print "\t\tentropy       =", self.left.before
        print "\tright child:"
        print "\t\tsamples       =", self.right.samples
        print "\t\tcounts        =", self.right.counts
        print "\t\tprobabilities =", self.right.probabilities
        print "\t\tentropy       =", self.right.before
        print
        print 'before entropy                =', self.before
        print 'after entropy                 =', self.after
        print 'information gain              =', self.information_gain

SyntaxError: Missing parentheses in call to 'print' (<ipython-input-53-e45bb053286f>, line 55)

In [50]:
df.c = df.winner

### First cut

In [ ]:
# TODO

#### Candidate #1: Is a county more than 20% black?

In [ ]:
# TODO

#### Candidate #2: Is high school graduation rate higher than 78%?

In [52]:
node.decision(lambda df: df.pct_hs_Grad <= .78).status()

NameError: name 'node' is not defined

#### Candidate #3: Is high school graduation rate higher than 87%?

In [ ]:
# TODO

### Second cut

In [ ]:
# TODO

### Third cut

In [ ]:
# TODO